{% extends 'base.html' %}
<style>

</style>
    <title>
        {% block title %} <h1>Alpha-Numeric Password Authentication</h1>{% endblock %}
    </title>
    {% block content %}
    
    <div class="message">
        Set a username and password. The password should have follow the below criteria:
        <audio controls style="padding-top: 10px;">
                        <source src="./static/Honk.mp3" type="audio/mpeg" style="background-color: #333F50;">
                        Your browser does not support the audio element.
                    </audio>
        <br><br>
        <li>   Length 8</li><br>
             <li>  1 Number</li><br>
               <li> 1 Uppercase alphabet</li><br>
               <li> 1 Lowercase alphabet</li><br>
               <li> 1 Special character</li><br>
    </div>

    <form action="{{ url_for("passwordForm1") }}" method="post" name="passwordForm1">
        <table>
            
          <tr>
                <td style="padding: 10px 200px;">
                    <div class="title"> Username     :</div>
                </td>
                <td> <input required type="text" name="username" style="width: 200px; height:50px; font-size: larger; background: #8FAADC; border: none" placeholder="Type here...">
                </td>
            </tr>
            <tr></tr><tr></tr>
            <tr>
                <td style="padding: 60px 200px;">
                    <div class="title"> Password     :</div>
                </td>
                
                <td> <input type="text" name="password" style="width: 200px; height:50px;font-size: larger; background: #8FAADC; border: none" placeholder="Type here..."
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                   
                </td>
            </tr>
            </table>
            <br>
            
            <button type="submit" class="buttonCustom" value="submit" name="buttonForm" >Submit</button>
            </form>
            {% endblock %}